body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0b3c5d;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 300px;
    padding: 10px;
    background: #f4f4f4;
}

#map {
    flex: 1;
    height: 100%;   /* 🔥 REQUIRED */
}
